<p><small>Title:</small></p>
<p>{{view Ember.TextField valueBinding='title' cols="30"}}</p>
<p><small>Intro:</small></p>
<p>{{view Ember.TextArea valueBinding='intro' cols="50"}}</p>
<p><small>Body:</small></p>
<p>{{view Ember.TextArea valueBinding='extended' cols="80" rows="10"}}</p>
