  <legend>Create Post</legend>
  {{partial 'post/edit'}}
  <button {{action 'save'}} class='btn btn-success'>Create</button>
  <button {{action 'cancel'}} class='btn'>Cancel</button>
  {{partial 'post/view'}}
